<div class= "" >
  <%= form_tag books_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "search books by title or author"
    %>
  <% end %>
</div>