<div class= "" >
  <%= form_tag club_books_path(@club), method: :get, class: "simple_form search", novalidate: "novalidate" do %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control string-required",
        id: "search_query",
        placeholder: "search books by title or author"
      %>
      <%= button_tag "Search", class: "btn btn-main-small" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
</div>
