// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bkblue: rgb(85, 0, 255);
$light:  #F4F4F4;
$other-light: rgba(85, 0, 255, 0.75);

