.join-btn {
  position: absolute;
  top: 85px;
  right: 50px;
  font-size: 20px;
}

.back-link {
  margin-top: -50px;
  a {
  color: lightgrey;
  text-decoration: none;
  }
}
.link {
   color: rgb(85, 0, 255);
}
.leave-delete-link {
  color: rgb(85, 0, 255);
}

.book-cover-img {
  width: 8rem;
}

.chat-link {
  text-decoration: none;
  color: rgb(85, 0, 255);

  &:hover {
    cursor: pointer;
  }
}

.our-books-title {
  border-bottom: 2px solid gray;
  padding-bottom: 2px;
}

.club-book-current-book {
  margin-bottom: 0;
}

.book-card {
  width: 130px;
  position: relative;
  .book-cover {
    width: 100%;
  }
  .book-info {
    height: 0px;
    width: 0px;
    color: transparent;
    box-shadow: 0 2px 5px gray;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    visibility: hidden;
    opacity: 0.8;
    transition: visibility 0.2s, opacity 0.3s, height 0.2s, width 0.2s ease-in-out;
    z-index: 10;
    font-size: 14px;
    padding: 3px;
    overflow: hidden;
  }
  &:hover {
    .book-info {
      height: 200px;
      width: 350px;
      visibility: visible;
      opacity: 1;
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
    }
  }
}
