.club-cover {
  .club-cover-photo {
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    object-position: center;
    position: relative;
  }

  .club-title {
    position: absolute;
    top: 85px;
    left: 50px;
    font-size: 48px;
    z-index: 1000;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
  }

  .join-btn {
    position: absolute;
    top: 85px;
    right: 50px;
    font-size: 20px;
  }

  .leave-btn {
    position: absolute;
    top: 345px;
    right: 50px;
  }

  .back-link {
    position: absolute;
    top: 345px;
    left: 50px;
  }
}

.book-cover-img {
  width: 50%;
}

.club-tabs .nav-item a {
  color: rgba(0, 0, 0, 0.5);
  font-family: $headers-font;
  font-size: 1.5rem;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.club-tabs .nav-item .active {
  background-color: transparent;
  border-bottom: 3px solid $bkblue;
  color: rgba(0, 0, 0, 1);
}

.chat-link {
  text-decoration: none;
  color: black;

  &:hover {
    background-color: #5500ff0c;
    &::after {
      content: " 💬";
    }
  }
}

.our-books-title {
  border-bottom: 2px solid black;
}

.club-book-current-book {
  margin-bottom: 0;
}

.book-card {
  width: 130px;
  position: relative;
  .book-cover {
    width: 100%;
  }
  .book-info {
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 5px gray;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    visibility: hidden;
    opacity: 0.8;
    transition: visibility 0.2s, opacity 0.3s, height 0.2s, width 0.2s ease-in-out;
    z-index: 10;
    font-size: 14px;
    padding: 3px;
  }
  &:hover {
    .book-info {
      height: 300px;
      width: 500px;
      visibility: visible;
      opacity: 1;
    }
  }
}
