<footer class="footer p-3 mt-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-2 text-muted text-center small-xl">
        &#169;Booklub 2020
      </div>
    </div>
  </div>
</footer>
