<footer class="footer p-3 mt-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-2 text-center small-xl text-light">
        &#169;Booklub 2020
      </div>
      <div class="col-12 pt-2 text-center small-xl text-light">
        Made with ❤ by the Booklub team
      </div>
    </div>
  </div>
</footer>
