<div class="container mt-5">
  <h2>Please select a club:</h2>
  <%= simple_form_for [ @book, @club_book ] do |f| %>
    <%= f.input :club_id, collection: current_user.created_clubs.map { |cc| [cc.name, cc.id] }, class: "beautiful-dropdown" %>
    <%= f.submit "Add book to club", class: "btn btn-main", data: {confirm: "Are you sure you'd like to replace the club's current book with this one?"} %>
  <% end %>
</div>
<div class="selected-club">
  <%# <h1><%= @club.name %></h1>
</div>
