.btn-main {
  color: white;
  background-color: $bkblue;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 5px;
  font-weight: bolder;

  &:hover {
    color: lightblue;
  }

}

.btn-sec {
  color: $bkblue;
  background-color: white;
  padding: 10px 15px;
  border-radius: 25px;
  margin: 5px;
  font-weight: bolder;
  border: 1px solid $bkblue;

  &:hover {
    color: lightblue;
  }
}

.btn-jumbotron {
  color: white;
  background-color: $bkblue;
  padding: 10px 15px;
  border-radius: 25px;
  margin: 5px;
  font-weight: bolder;
  width: 150px;
  justify-content: center;
  &:hover {
    color: lightblue;
  }

}
.btn-chat-input {
  color: white;
  background-color: $bkblue;
  padding: 6px 20px;
  border-radius: 25px;
  font-weight: bolder;

  &:hover {
    color: lightblue;
  }

}

.btn-sec-small {
  color: $bkblue;
  background-color: white;
  padding: 5px 10px;
  border-radius: 25px;
  margin: 3px;
  font-weight: bolder;
  border: 1px solid $bkblue;

  &:hover {
    color: lightblue;
  }
}
