.btn-main {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid $bkblue;
  margin: 5px;
  font-weight: bolder;
  transition: background-color 0.2s ease-in-out;
  background-color: $bkblue;
  color: white;
  &:hover {
    color: $bkblue;
    background-color: #efe8fd;
  }
}


.btn-main-small {
  color: white;
  background-color: $bkblue;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: bolder;
  width: 40px;
  .fa-search {
    color: white;
  }

  &:hover {
    background-color: white;
    color: $bkblue;
    transition-delay: 100ms;
    transition-duration: 100ms;
    .fa-search {
      color: $bkblue;
    }
  }
}

.btn-sec {
  color: $bkblue;
  background-color: white;
  padding: 10px 15px;
  border-radius: 25px;
  margin: 5px;
  font-weight: bolder;
  border: 1px solid $bkblue;

  &:hover {
    background-color: #efe8fd;
    color: $bkblue;
    transition-delay: 100ms;
    transition-duration: 100ms;
  }
}

.btn-jumbotron {
  color: white;
  background-color: $bkblue;
  padding: 10px 15px;
  border-radius: 25px;
  margin: 5px;
  font-weight: bolder;
  width: 150px;
  justify-content: center;
  &:hover {
    background-color: white;
    color: $bkblue;
    transition-delay: 100ms;
    transition-duration: 100ms;
  }
}

.btn-chat-input {
  color: white;
  background-color: $bkblue;
  padding: 6px 20px;
  border-radius: 25px;
  font-weight: bolder;

  &:hover {
    background-color: white;
    color: $bkblue;
    transition-delay: 100ms;
    transition-duration: 100ms;
  }

}

.btn-sec-small {
  color: $bkblue;
  background-color: white;
  padding: 5px 10px;
  border-radius: 25px;
  margin: 3px;
  font-weight: bolder;
  border: 1px solid $bkblue;

  &:hover {
    background-color: white;
    color: $bkblue;
    transition-delay: 100ms;
    transition-duration: 100ms;
  }
}

.hvr-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $bkblue;
}
.hvr-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $bkblue;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  transition-delay: 100ms;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
  right: 0;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 5px;
}
