.jumbotron {
  background-image:
    url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3NoZWxmfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: cover;
  color: black;
  font-weight: bolder;
  min-height: 100vh;
}

.custom-font {
  font-style: $headers-font;
}
