.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&auto=format&fit=crop&w=1153&q=80");
  background-size: cover;
  background-position: center;
  color: $light-gray;
  font-weight: bolder;
  min-height: 90vh;
}

.custom-font {
  font-style: $headers-font;
}

.j-container {
  width: auto;
}

.display-4.custom-font {
  font-size: 4.5rem;
}

.slogan {
  font-size: 24px;
}
