.tabs-underlined {
  display: flex;
  align-items: center;
  font-family: $body-font;
  font-size: 1.5rem;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $bkblue;
}

.club-tabs .nav-item a {
  color: rgba(0, 0, 0, 0.5);
  font-family: $body-font;
  font-size: 1.5rem;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.club-tabs .nav-item .active {
  background-color: transparent;
  border-bottom: 3px solid $bkblue;
  color: rgba(0, 0, 0, 1);
}


