.login {
  text-align: center;
  margin-top: 150px;
  background-color: white;
  padding-bottom: 10px;
  box-shadow: 0 0 10px $bkblue;
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.panel-body {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
