// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";

// Your CSS partials
@import "components/index";
@import "pages/index";

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.site-content {
  flex: 1;
}

#search-field::placeholder{
  padding-left: 15px;
  z-index: 0;
}

#search-field:focus{
  padding-left: 28px;
}

.fa-search{
position: absolute;
color: rgba(255, 255, 255, 0.7);
left: 12px;
top: 12px;
z-index:0;
pointer-events: none;
visibility: visible;
}


